<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/main.js' %}"></script>
        <title>LOGIN</title>
    </head>
    <body>
        <nav>
            <a href="/login"> 🔐LOGIN </a>
            <a href="/register" class="justforu"> 📝REGISTER</a>
        </nav>

        <main class="mainlogin">
            <div id="login-container">
                <h2>LOGIN</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn">LOGIN</button>
                </form>
{{ message }}
            </div>
        </main>
    </body>
</html>
