<div class="receipt-container" align = "left">
    <h2>TRANSACTION HISTORY</h2>
        <h2>Receipt for {{ transaction.profile }}</h2>
        <p>License Number: {{ transaction.license_number }}</p>
        <p>Vehicle: {{ transaction.vehicle }}</p>
        <p>Time In: {{ transaction.time_in }}</p>
        <p>Time Out: {{ transaction.time_out }}</p>
        <p>Rental Days: {{ transaction.rental_days }}</p>
        <p>Total Rent: {{ transaction.total_rent }}</p>
        <p>Payment Amount: {{ transaction.payment_amount }}</p>
        <p>Balance: {{ transaction.balance }}</p>
        <p>Transaction Number: {{ transaction.transaction_number }}</p>
</div>
